<section class="section contact-me" data-section="section4">
  <div class="container">
    <div class="section-heading">
      <h2>JPMorgan Chase Art Collection</h2>
      <div class="line-dec"></div>
    </div>
    <div class="row">
      <div class="right-content">
        <div class="container">
          <p>At JPMorgan Chase, the <i>Art at Work</i> Program is core to employee experience. It is a convener within the firm, bridging
            colleagues from various locations and lines of business. Dialogues around art can also build relationships and drive business with clients and customers.
          </p>
          <p>Founded over 60 years ago with an emphasis on emerging artists, the JPMorgan Chase Art Collection continues to focus on emerging and developing artists in the U.S. and globally.
          Recognizing that artists are entrepreneurs and small businesses, our investment in them also makes a positive impact in the communities where they live and work.</p>
          <p>The Art Collection is dynamic and evolving. Built on solid foundation, <i>Art at Work</i> today reflects and aligns with the firm's
            21st- century business principles and priorities: diversitym innovation, technology, sustainability, creativity and excellence.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-heading" style="padding-bottom:40px !important">
      <h2>Gallery</h2>
      <div class="line-dec"></div>
      <span> View acquisitions in the JPMC Art Collection </span>
    </div>
    <ng-image-slider #slider [images]="artWorkImages" [manageImageRatio]="true" [imageSize]="{width:'100%',height:'50%'}" [infinite]="true" [autoSlide]="{interval: 4, stopOnHover: true}">
    </ng-image-slider>
  </div>
</section>
