<section class="section contact-me" data-section="section4">
  <div class="container">
    <div class="section-heading">
      <h2>JPMorgan Chase Art Collection</h2>
      <div class="line-dec"></div>
      <span>Art is a catalyst for connection. The JPMorgan Chase Art Collection is one of the most established corporate
        collections in the world. Our mission is to connect clients, colleagues, and communities through art and the
        conversations it can start. </span>
    </div>
    <div class="row">
      <div class="right-content">
        <div class="container">
          <p> Founded over 60 years ago, the JPMorgan Chase Art Collection, branded as Art at Work, continues to focus
            on emerging, developing and under-recognized artists globally. Recognizing that artists are entrepreneurs
            and small businesses, our investment in their work makes a positive impact. Artists and the creative economy
            contribute to vibrant communities where we do business. Art at Work brings that vibrancy into the workplace.
            The Art Collection and Program are dynamic and evolving. Built on the solid foundation of Rockefeller’s
            vision, the collection has always embraced emerging contemporary art. Art at Work reflects and aligns with
            the firm's 21st-century business principles and priorities: diversity, innovation, technology,
            sustainability, creativity, and excellence.
          </p>
          <p>
            The JPMorgan Chase Art Collection began in 1959 when David Rockefeller, then president of The Chase
            Manhattan Bank, established the firm's Art at Work Program, the first of its kind in the modern era. He
            believed that art elevates the experience of working at and doing business with our firm. By integrating
            artwork within the architecture of our buildings and practicing a strategic approach to acquisitions, Art at
            Work was and continues to be an exemplary model of corporate collecting.
          </p>
          <p>
            Today it is the oldest and most established corporate art collections in the world, focusing on modern and
            contemporary painting, sculpture, works on paper, photography, and digital/video art on view in our
            corporate spaces across the globe. The core collection is complemented by a selection of international
            artworks from legacy firms, from antiquity to the present day.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>