<section class="section contact-me" data-section="section4">
  <div class="container">
    <div class="section-heading">
      <h2>Add Artwork</h2>
      <div class="line-dec"></div>
    </div>
    <div class="row">
      <div class="right-content">
        <div class="container">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-2">
                <fieldset>
                  <label>Artist Name</label>
                </fieldset>
              </div>
              <div class="col-md-10">
                <fieldset>
                  <input name="name" type="text" class="form-control" placeholder="Enter the artist name..."
                    required="" />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Date/Year</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input name="name" type="text" class="form-control" placeholder="Enter the year..." required="" />
                </fieldset>
              </div>
              <div class="col-md-2">

              </div>
              <div class="col-md-1">
                <fieldset>
                  <input name="name" type="checkbox" />
                </fieldset>
              </div>
              <div class="col-md-3" style="text-align: left;">
                <fieldset>
                  <label> Thumbnail only </label>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Category</label>
                </fieldset>
              </div>
              <div class="col-md-10">
                <fieldset>
                  <input name="name" type="text" class="form-control" placeholder="Enter the Category..." required="" />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Description</label>
                </fieldset>
              </div>
              <div class="col-md-10">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Enter Description..."
                    required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Image:</label>
                </fieldset>
              </div>
              <div class="col-md-10" style="padding-bottom: 30px;">
                <fieldset>
                 <app-file-upload></app-file-upload>
                </fieldset>
              </div>
              
              
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">
                   Add
                  </button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>