<section class="section contact-me" data-section="section4">
  <div class="container">
    <div class="section-heading">
      <h2>Add/Edit/Delete Artwork</h2>
      <div class="line-dec"></div>
    </div>
    <div class="row">
      <div class="right-content">
        <div class="container">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-2">
                <fieldset>
                  <label>Art Name</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the artist name..." [(ngModel)]="currentlySelectedArtwork.artName" name="artName"
                         />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Art Category</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the category (comma separated)..." name="artCat" [(ngModel)]="currentlySelectedArtwork.artCat"
                         />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Artist Name</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the artist name..." name="artistName" [(ngModel)]="currentlySelectedArtwork.artistName"
                    />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Artist Info</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the artist info..." name="artistInfo" [(ngModel)]="currentlySelectedArtwork.artistInfo"
                         />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Creation:</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <select class="form-control"  name="creationDate" [(ngModel)]="currentlySelectedArtwork.creationDate" >
                    <option value="">Please select Date</option>
                    <option *ngFor="let item of date_values" [selected]="item === currentlySelectedArtwork.creationDate" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset>
                  <select class="form-control" name="creationMonth" [(ngModel)]="currentlySelectedArtwork.creationMonth">
                    <option value="">Please select Month</option>
                    <option *ngFor="let item of month_values" [selected]="item === currentlySelectedArtwork.creationMonth" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="col-md-3" >
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter Year..." name="creationYear" [(ngModel)]="currentlySelectedArtwork.creationYear" />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Acquisition:</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <select class="form-control" name="acquistionDate" [(ngModel)]="currentlySelectedArtwork.acquistionDate">
                    <option value="">Please select Date</option>
                    <option *ngFor="let item of date_values" [selected]="item === currentlySelectedArtwork.acquistionDate" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset>
                  <select class="form-control" name="acquistionMonth" [(ngModel)]="currentlySelectedArtwork.acquistionMonth">
                    <option value="">Please select Month</option>
                    <option *ngFor="let item of month_values" [selected]="item === currentlySelectedArtwork.acquistionMonth" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter Year..." name="acquistionYear" [(ngModel)]="currentlySelectedArtwork.acquistionYear"/>
                </fieldset>
              </div>

              <div class="col-md-2">
                <fieldset>
                  <label>Color</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the color  (comma separated)..."name="color" [(ngModel)]="currentlySelectedArtwork.color" />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Medium of artwork</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the medium (comma separated)..." name="medium" [(ngModel)]="currentlySelectedArtwork.medium"/>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Culture</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the culture  (comma separated)..." name="culture" [(ngModel)]="currentlySelectedArtwork.culture"/>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>JPMC Business Resource Group</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the BRG name..." name="brg" [(ngModel)]="currentlySelectedArtwork.brg"/>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Category</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the Category (comma separated)..." name="category" [(ngModel)]="currentlySelectedArtwork.category"/>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label> Display Image</label>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <select class="form-control"  name="displayImage" [(ngModel)]="currentlySelectedArtwork.displayImage" >
                    <option *ngFor="let item of displayImgValues" [selected]="item === currentlySelectedArtwork.displayImage" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Image Location:</label>
                </fieldset>
              </div>
              <div class="col-md-10">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the Location path..." name="imgLoc" [(ngModel)]="currentlySelectedArtwork.imgLoc"/>
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Sound Location:</label>
                </fieldset>
              </div>
              <div class="col-md-10">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter the Location path..." name="soundLoc" [(ngModel)]="currentlySelectedArtwork.soundLoc" />
                </fieldset>
              </div>
              <div class="col-md-2">
                <fieldset>
                  <label>Description</label>
                </fieldset>
              </div>
              <div class="col-md-10">
                <fieldset>
                  <textarea rows="6" class="form-control" id="message" placeholder="Enter Description..." name="description" [(ngModel)]="currentlySelectedArtwork.description"
                   ></textarea>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <button style="background-color:#dedede;color:#000" (click)="reset()" type="reset">
                    Reset
                  </button>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <button class="button" (click)="submitArtwork()" type="button">
                    Save
                  </button>
                </fieldset>
              </div>
              <div class="col-md-4">
                <button class="button" style="background-color:#a43f49;color:#fff" (click)="submitArtwork()" type="button">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
