<section class="section" data-section="section5">
  <div class="container">
    <div class="section-heading" style="padding-bottom:40px !important">
      <h2>Bulk Upload Download</h2>
      <div class="line-dec"></div>
      <span> Please exercise caution while using this screen.</span>
    </div>
   <div class="row">
      <div class="col-md-10">
          <button type="button" class="white-button"  (click)="download()">Download Entire Data in Excel</button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-10">
        Upload File: <b><i>****(This will erase all current data)***</i></b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="file" (change)="selectFile($event)" class="form-control"  />
      </div>
      <div class="col-md-6">
        <button type="button" class="button"  (click)="upload()">Upload</button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-10">
        <i class="notif">{{uploadNotif}}</i>
      </div>
    </div>
  </div>
</section>
