  <div class="responsive-nav" (window:resize)="resize($event)">
    <i class="fa fa-bars menu-toggle" *ngIf="isMinimized" (click)="minMenuOpen(true)"></i>
    <div [ngClass]="{'menu': true, 'open': menuOpen}" >
      <i class="fa fa-times"  *ngIf="menuOpen" (click)="minMenuOpen(false)" style="cursor:pointer;"></i>
      <div class="container">
        <div class="image">
          <a href="#"><img alt="" />
          </a>
        </div>
        <div class="author-content">
          <h4>JPMC Artwork</h4>
          <span>Art is a catalyst for connection</span>
        </div>
        <nav class="main-nav" role="navigation">
          <ul class="main-menu">
            <li><a href="/home">Home</a></li>
             <li><a href="/view">View Artwork</a></li>
            <li><a href="/add">Add</a></li>

          </ul>
        </nav>
        <div class="copyright-text">
          <p>Copyright 2021 JP Morgan</p>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
