<div class="image-row">
  <div class="image-column">
    <img src="{{image.imgLoc}}" (click)="openModal();" class="hover-shadow cursor">
  </div>
</div>
<div class="slide-modal" [ngStyle]="{'display': popupDisplay}">
  <span class="close cursor" (click)="closeModal()">&times;</span>
  <div class="slide-modal-content">
    <lib-ngx-image-zoom title="Click and scroll over artwork to zoom" style="height:100%"
                        thumbImage="{{image.imgLoc}}" zoomMode="hover" enableScrollZoom="true"  enableLens="true" circularLens="true" lensWidth="300" lensHeight="300"
                        fullImage="{{image.imgLoc}}" maxZoomRatio="4"
    ></lib-ngx-image-zoom>
    <p style="margin-bottom:0px;"><b>{{image.artistName}}</b> ({{image.artistInfo}})</p>
    <p style="padding-top:0px; margin:5px;"><i>{{image.artName}}</i>, {{image.creationYear}}</p>
    <p>
    <span  style="white-space: pre-line">{{image.description}}</span>
    </p>
  </div>
</div>
