<section class="section about-me" data-section="section1">
  <div class="container">
    <div class="section-heading">
      <h2>Gallery</h2>
      <div class="line-dec"></div>
      <span> Checkout the latest additions to our artwork collection
          </span
          >
    </div>

    <ng-container *ngFor="let item of pictureData;let i = index">
      <div class="left-image-post" *ngIf="i%2==0">
        <div class="row">
          <div class="col-md-6">
            <div class="left-image">
              <img src="{{item.imageLoc}}" alt="{{item.title}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-text">
              <h4>{{item.title}}</h4>
              <p>
                {{item.desc}}
              </p>
              <div class="white-button">
                <a href="/edit">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-image-post" *ngIf="i%2==1">
        <div class="row">
          <div class="col-md-6">
            <div class="left-text">
              <h4>{{item.title}}</h4>
              <p>
                {{item.desc}}
              </p>
              <div class="white-button">
                <a href="/edit">Edit</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{{item.imageLoc}}" alt="{{item.title}}"/>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
