<div class="section">
    <div class="container">
        <div class="section-heading" style="padding-left: 10px !important;">

            <div class="row">
              <div class="col-md-2">
                Search By:
              </div>
              <div class="col-md-3">
                <select class="form-control" name="searchType" [(ngModel)]="searchRequest.type">
                  <option value="">Please select Type</option>
                  <option *ngFor="let item of type_values" [selected]="item.value === searchRequest.type.value" [value]="item.value">
                    {{item.label}}
                  </option>
              </select>
              </div>
              <div class="col-md-5">
                    <input type="text" title="Search Artwork" name="searchVal" placeholder="Type to search artwork" [(ngModel)]="searchRequest.value"
                        class="form-control">
              </div>
              <div class="col-md-1">
                <button class="button" (click)="search()" type="button">
                  Search
                </button>
              </div>
            </div>
            <div class="row">
                <div class="line-dec"></div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <ng-container *ngFor="let item of pictureData;let i = index">
            <div *ngIf="i%2==0">
              <div class="isotope-item">
                <figure class="snip1321">
                  <img src="{{item.imageLoc}}" alt="{{item.artName}}" />
                  <figcaption>
                    <a href="{{item.imageLoc}}" data-lightbox="image-1" data-title="{{item.description}}"><i
                      class="fa fa-search"></i></a>
                    <h4>{{item.artName}}</h4>
                    <span>{{item.description}}</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col-md-6">
          <ng-container *ngFor="let item of pictureData;let i = index">
            <div *ngIf="i%2==1">
              <div class="isotope-item">
                <figure class="snip1321">
                  <img src="{{item.imageLoc}}" alt="{{item.artName}}" />
                  <figcaption>
                    <a href="{{item.imageLoc}}" data-lightbox="image-1" data-title="{{item.description}}"><i
                      class="fa fa-search"></i></a>
                    <h4>{{item.artName}}</h4>
                    <span>{{item.description}}</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
</div>
