<div class="section">
    <div class="container">
        <div class="section-heading" style="padding-left: 10px !important;">

            <div class="row">
                    <input type="search" title="Search Artwork" placeholder="Type to search artwork"
                        class="form-control">
            </div>
            <div class="row">
                <div class="line-dec"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="isotope-item" data-type="nature">
                    <figure class="snip1321">
                        <img src="assets/images/van-gogh.jpg" alt="sq-sample26" />
                        <figcaption>
                            <a href="assets/images/van-gogh.jpg" data-lightbox="image-1" data-title="Starry Night By VanGogh 1547"><i
                                    class="fa fa-search"></i></a>
                            <h4>Starry Night</h4>
                            <span>This is Starry Night by Van Gogh</span>
                        </figcaption>
                    </figure>
                </div>

                <div class="isotope-item" data-type="people">
                    <figure class="snip1321">
                        <img src="assets/images/edwardhopper.jpg" alt="sq-sample26" />
                        <figcaption>
                            <a href="assets/images/edwardhopper.jpg" data-lightbox="image-1" data-title="Light House by Ed hopper"><i
                                    class="fa fa-search"></i></a>
                            <h4>Light House</h4>
                            <span>Light House by Ed hopper</span>
                        </figcaption>
                    </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                    <figure class="snip1321">
                        <img src="assets/images/van-gogh2.jpg" alt="sq-sample26" />
                        <figcaption>
                            <a href="assets/images/van-gogh2.jpg" data-lightbox="image-1" data-title="Landscape by Van Gogh"><i
                                    class="fa fa-search"></i></a>
                            <h4>Landscape</h4>
                            <span>Landscape by Van Gogh</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6">
                <div class="isotope-item" data-type="people">
                    <figure class="snip1321">
                        <img src="assets/images/Sunrise.jpg" alt="sq-sample26" />
                        <figcaption>
                            <a href="assets/images/Sunrise.jpg" data-lightbox="image-1" data-title="Sunrise by Sunrise"><i
                                    class="fa fa-search"></i></a>
                            <h4>Sunrise</h4>
                            <span>Sunrise by Sunrise</span>
                        </figcaption>
                    </figure>
                </div>

                <div class="isotope-item" data-type="nature">
                    <figure class="snip1321">
                        <img src="assets/images/portfolio-05.jpg" alt="sq-sample26" />
                        <figcaption>
                            <a href="assets/images/portfolio-05.jpg" data-lightbox="image-1" data-title="Fifth Awesome"><i
                                    class="fa fa-search"></i></a>
                            <h4>Fifth Awesome</h4>
                            <span>Ut sollicitudin risus</span>
                        </figcaption>
                    </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                    <figure class="snip1321">
                        <img src="assets/images/Caspar_David_Friedrich.jpg" alt="sq-sample26" />
                        <figcaption>
                            <a href="assets/images/Caspar_David_Friedrich.jpg" data-lightbox="image-1"
                                data-title="Landscape by Caspar_David_Friedrich"><i class="fa fa-search"></i></a>
                            <h4>Landscape</h4>
                            <span>Caspar_David_Friedrich</span>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</div>
